name: Core CI/CD Pipeline

on:
  push:
    branches: [main, master]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install
        run: npm install
      - name: Prisma Generate
        run: npx prisma generate
      - name: Lint
        run: npm run lint

  build:
    needs: lint-and-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: . # چون در گیت‌هاب همه چیز در روت است
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/moramor-core:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USERNAME }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          script: |
            set -e
            # ۱. رفتن به پوشه اصلی پروژه در سرور
            cd /root/project-core
            
            # ۲. آپدیت کردن کدها فقط در پوشه core
            cd apps/core
            git fetch origin main
            git reset --hard origin/main
            
            # ۳. برگشت به عقب برای اجرای داکر کامپوز
            cd ../..
            
            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login docker.arvancloud.ir -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
            
            # ۴. دانلود و اجرای ایمیج (بدون بیلد)
            docker pull docker.arvancloud.ir/${{ secrets.DOCKER_USERNAME }}/moramor-core:latest
            docker compose up -d core
            docker compose up -d 
            
            # ۵. اجرای مایگریشن
            sleep 10
            docker compose exec -T core npx prisma migrate deploy
            docker image prune -f