name: Core CI/CD Pipeline

on:
  push:
    branches: [main, master]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install
        run: npm ci
      - name: Prisma Generate
        run: npx prisma generate
      - name: Lint
        run: npm run lint

  build:
    needs: lint-and-test
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # نام یوزرنیم گیت‌هاب خودت را اینجا چک کن (mhfarsiii)
          tags: ghcr.io/mhfarsiii/moramor-core:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # ۱. ساخت ایمیج روی خود گیت‌هاب (چون اینجا اینترنت عالیه)
      - name: Build Image locally
        run: docker build -t moramor-core:latest .

      # ۲. تبدیل ایمیج به یک فایل فشرده
      - name: Save Image to file
        run: docker save moramor-core:latest | gzip > moramor-core.tar.gz

      # ۳. ارسال فایل به سرور تو (بسیار پایدارتر از دانلود داکر)
      - name: Copy Image to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USERNAME }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          source: "moramor-core.tar.gz"
          target: "/root/project-core"

      # ۴. بارگذاری فایل در داکرِ سرور و اجرا
      - name: Load and Run
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PRODUCTION_HOST }}
          username: ${{ secrets.PRODUCTION_USERNAME }}
          key: ${{ secrets.PRODUCTION_SSH_KEY }}
          command_timeout: 30m
          script: |
            cd /root/project-core

            # بارگذاری ایمیج از فایل فرستاده شده
            docker load < moramor-core.tar.gz

            # نوسازی کانتینرها
            docker compose up -d

            # اجرای مایگریشن
            sleep 15
            docker compose exec -T core npx prisma migrate deploy

            # پاکسازی فایل موقتی
            rm moramor-core.tar.gz
            docker image prune -f
